body {
    font-family: Arial, sans-serif;
  }
  
  #stationList {
    margin-top: 20px;
  }
  
  .stationItem {
    margin-bottom: 10px;
  }
  
  .stationCode {
    font-weight: bold;
  }
  
  .stationName {
    margin-left: 10px;
  }
  